#div1{
    background-color: yellow;
    height: 100px;
    width: max(50%,350px);
    border: 3px solid black;
}

#div2{
    background-color: blueviolet;
    height: 100px;
    width: min(50%,350px);
    border: 3px solid black;

}