body{
    margin: 0;
}
*{
    box-sizing: border-box;
}
.header{
    background-color: gray;
    padding: 20px;
    text-align: center;
}
.nav{
    background-color: black;
    overflow: hidden;
}

.nav a{
    float: left;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.nav a:hover{
    background-color: aquamarine;
    color: black;
}
.column{
    float: left;
    
    padding: 10px;
 
 }
 .column.side{
    width: 25%;
 }
 .column.middle{
    width: 50%;
 }
.row::after {
    content: "";
    display: table;
    clear: both;
  }
  .footer{
    background-color: gray;
    padding: 10px;
    text-align: center;
  }
  

  @media screen and (max-width:600px) {
    .column.side, .column.middle {
        width: 100%;
      }
  }