.radial{
    height: 159px;
    width: 200px;
    background-image: radial-gradient(red,white,green);
}
.different_space_color{
    height: 159px;
    width: 200px;
  background-image: radial-gradient(red 5%, yellow 10%, blue 5%);
}

.set_shape{
    height: 159px;
    width: 200px;
    background-image: radial-gradient(ellipse, red, yellow, green);

}
.repeating_radial
{
    height: 159px;
    width: 200px;
    background-image: repeating-radial-gradient(red, yellow 10%, green 15%);

}