
/* universal selector */
 *{
    margin: 0;
 } 

/* classs selector */
.box{
background-color: brown;

}
/* id selector */
#desc{
    font-size: 2rem;
}

/* grouping selector */
p,h1{
    font-weight: 800;
}
p.center{
    text-align: center;
}