*{
    box-sizing: border-box;

}
.topnav{
    background-color: black;
    overflow: hidden;

}
.topnav a{
    float: left;
    display: block;
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  @media screen and (max-width: 600px){
    .topnav a{
        float: none;
        width: 100%;
    }
  }